@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  hsl(186, 47%, 82%);
    font-family: 'Space Mono', monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: grey;
    font-weight: 700;
}

.btn{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: hsl(183, 100%, 15%);
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
}

.flex{
    display: flex;
    gap: 1em;
 

}

.grid{
    display: grid;
    place-items: center;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.hide{
    visibility: hidden;
}

.show{
    visibility: visible;
}


div.dark-bg .faint-text{
    color: hsl(184, 14%, 56%);
    font-size: 10px;
}


header p{
    text-align: center;
    font-weight: 700;
    color: grey;
    letter-spacing: 4px;
    margin: 40px 0 40px;
}

section.flex{
    width: 90%;
    margin: 0 auto 40px;
    background-color: #fff;
    padding: 15px 15px 15px 20px;
    border-radius: 10px;
    justify-content: space-evenly;
}

.my-3{
    margin: 25px 0 0
}

section > *{
    width: 45%;
}

.bill-wrap > *:last-child{
    justify-self: flex-end;
    text-align: right;
    color: red;
    flex-grow: 1;
}

form{
    gap: 0;
    margin: 5px 0 25px;
    position: relative;;
}

form > *{
    margin: 0;
}

p.btn:hover{
    background-color: hsl(186, 47%, 82%);
    color:hsl(183, 100%, 15%);
   cursor: pointer;
}

.selected-tip{
    background-color: hsl(186, 47%, 82%);
    color:hsl(183, 100%, 15%);
}

form p{
    background-color: hsl(189, 41%, 97%);
    margin: 0;
    z-index: 4;
    position: absolute;
    left: 0.5em;
    top: 0.5em;

}

input{
    border: none;
    text-align: right;
    background-color:  hsl(189, 41%, 97%);
    margin-left: 0em;
    padding: 12px;
    border-radius:5px;
    width: 100%;
    
}

input:hover{
    cursor: pointer;
}

input:focus{
    /* border:1px solid hsl(186, 47%, 82%); */
    outline-color: hsl(186, 47%, 82%);
    outline-width: 1px;
}

.tip-percent-field {
    margin: 15px 0;
}

.tip-percent-field > *:last-child{
    color: grey;
    background-color:  hsl(189, 41%, 97%);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

.tip-percent-field > *:last-child::placeholder{
    font-weight: 700;
}

.tip-percent-field > *:last-child:hover{
    border: 1px solid hsl(172, 67%, 45%);
    color:hsl(186, 14%, 43%);

}

form div{
    background-color: hsl(189, 41%, 97%);
    margin: 0;
    z-index: 4;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

div.people-wrap{
    gap: 1em;
}

div.people-wrap >*:last-child{
    flex-grow: 1;
    color: red;
    text-align: right;
}

div.dark-bg{
    background-color: hsl(183, 100%, 15%);
    padding: 25px;
    border-radius: 10px;
    flex-direction: column;
    gap: 2em;
    position: relative;
}

div.dark-bg *{
    color: rgb(238, 232, 232);
    font-weight: 600;
}

div.dark-bg p.amount {
    color: hsl(172, 67%, 45%);
    font-size: 2em;
    justify-self: flex-end;
    text-align: right;
   
}


.dark-bg .flex div{
    flex-grow: 1;
}

.dark-bg button{
    
    background-color:hsl(180, 42%, 40%);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color:hsl(186, 14%, 43%);
    margin-top: 10em;
 
}


.dark-bg button:hover{
    background-color: hsl(186, 47%, 82%);
}

@media (max-width: 700px){
    section.flex{
        flex-direction: column;
        width: 100%;
        border-radius: 15px 15px 0 0;
        padding: 15px 25px 35px 25px;
    }

    section.flex > *{
        width: 100%;
    }

    .grid-2{
        grid-template-columns: repeat(2,1fr);
     }
}